<form action="/draft" method="put">
    <div>
        <label for="title">Title:</label>
        <input id="title" type="text" name="title">
    </div>
    <div>
        <textarea id="content" name="content">
            Once upon a time, in a land far away...
        </textarea>
    </div>
    <div>
        <input type="submit" value="Submit draft!" />
    </div>
</form>
